.basket__table {
  margin: 50px 0;
  text-align: center;
  border-collapse: separate;
  border: 1px solid #ddd;
  border-spacing: 10px;
  border-radius: 3px;
  background: #fdfdfd;
  font-size: 14px;
  width: 100%;
}

.basket__table .table__head {
  font-size: 18px;
  color: grey;
  text-transform: uppercase;
}

.basket__table .table__products .items__pic {
  height: 100px;
  width: 100px;
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  border: 1px solid gray;
}

.basket__table .table__products .items__head {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  position: relative;
}

.basket__table .table__products .items__head a {
  text-decoration: none;
}

.basket__table .table__products .items__sku {
  padding-top: 2px;
  font-size: 10px;
  color: grey;
  position: absolute;
}

.basket__table .table__products .item__quantity-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.basket__table .table__products .item__quantity-button .quantity-button_btn {
  cursor: pointer;
  border: 1px solid black;
  width: 20px;
  height: 20px;
  line-height: 20px;
}

.basket__table .table__products .item__quantity-button .item__quantity-number {
  padding: 0 20px;
  line-height: 20px;
  width: 20px;
  height: 20px;
}

.basket__table .table__products .item-delete {
  line-height: 20px;
  width: 20px;
  height: 20px;
  text-align: center;
  margin: 0 auto;
  font-weight: 600;
  border: 1px solid black;
  cursor: pointer;
}

.head__title {
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  font-size: 22px;
  padding: 10px;
}

.head__subtitle {
  text-align: center;
  font-size: 18px;
  color: grey;
  font-style: italic;
}

.t-left {
  text-align: left;
}

.width-0 {
  width: 0;
}

.form {
  margin-top: 20px;
}

.form__block {
  margin: 0 auto;
  width: 50%;
}

.form__block .select__label {
  font-size: 16px;
  margin: 10px 0px;
  text-transform: uppercase;
  text-align: left;
  width: 100%;
  display: inline-block;
}

.form__block .select__select {
  padding: 10px 0px 10px 20px;
  border: 1px solid grey;
  border-radius: 3px;
  color: grey;
  width: 100%;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.form__block .select__select::after {
  content: "dsfsdfsdf";
  display: block;
  border-style: solid;
  border-width: 6px 5px 0 5px;
  border-color: #000 transparent transparent transparent;
  pointer-events: none;
  position: absolute;
  top: 50%;
  right: 1rem;
  z-index: 1;
  margin-top: -3px;
}

.form__block .input__block {
  width: 50%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
}

.form__block .input__block_wh-100 {
  width: 100%;
}

.form__block .input__block_fl-l {
  float: left;
}

.form__block .input__block_pd-r {
  padding-right: 5px;
}

.form__block .input__block_pd-l {
  padding-left: 5px;
}

.form__block .input__block__label {
  font-size: 16px;
  margin: 10px 0px;
  text-transform: uppercase;
  text-align: left;
  width: 100%;
  display: inline-block;
}

.form__block .input__block__input {
  padding: 10px 0px 10px 20px;
  border: 1px solid grey;
  border-radius: 3px;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.form__submit {
  padding: 20px 70px;
  background-color: indianred;
  text-transform: uppercase;
  color: #fff;
  border-radius: 5px;
  margin-top: 50px;
}

.payment {
  text-align: center;
  padding-top: 30px;
}

.payment__head {
  padding-bottom: 30px;
}

.payment__price {
  padding: 10px;
}

.payment__delivery {
  padding: 10px;
}

.payment__price-delivery {
  padding: 10px;
}

.payment__options {
  padding-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
  margin: 0 auto;
  text-align: left;
}

.payment__label {
  font-size: 16px;
  margin: 10px 0px;
  text-transform: uppercase;
  text-align: left;
  width: 100%;
  display: inline-block;
}

.payment__select {
  padding: 10px 0px 10px 20px;
  border: 1px solid grey;
  border-radius: 3px;
  color: grey;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
/*# sourceMappingURL=basket.css.map */